body {
  background-color: #282c34;
}

.App {
  text-align: center;
  min-height: 100vh;
}

label {
  font: 1.5rem "Fira Sans", sans-serif;
  color: white;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.todoTitle {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todoTitle input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.todoTitle label {
  cursor: pointer;
  max-width: 60vw;
}

input[type="checkbox"] {
  accent-color: #9b59b6;
}

input[type="checkbox"]:hover {
  opacity: 0.5;
}

.todoTitle input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.todoCheckbox {
  width: 30px !important;
  height: 30px !important;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #552966;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #934ab0;
}

.transparent-click {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: transparent;
  z-index: 1;
}
